body{
    color:white;
    background-image:url("../images/pexels-janko-ferlic-590478.jpg");
    
    
}

.aaaa{
    font-style:white;
}

h1{
    color: red;
    font-family: monospace;
}

img{
    width:100%;
    height:90%;
}
.strr{
    color:yellow;

}
.logoo{
    width: 10%;
    height:120px;
    float:left;
}
.label.logo {
    color:yellowgreen;
    text-shadow:0px 2px 6px black;
    font-size:35px;
    line-height:80px;
    padding-left:140px;
    
}
.bonhh{color:yellow;
}
.ooo{
    color:wheat;
    font-size: larger;
}
.connect{
    float:right
}
.imgg{
 width: 17%;  
}
.azerty{

    border: 1px  solid black;
    margin: 10px;
    padding: 10px;
    font-size: 30Px;
    color: violet;
    opacity: 0.80;
    background-color: black;
    border-color: violet;
    border-top-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius:500px ;
    
}
a{
    text-decoration: none;
}
nav ul li a:hover{
    color:#ea1538
}
.navbar{
    list-style-type: none;
    display: inline-block;
    
    color:white;
    text-decoration: none;
    font-weight: bold;
    color:#ea1538;
    transition:.3s;
    margin:0 250px;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
     
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:#ea1538;
    transition:.3s;


}
.positionn{
    margin:0 0 0 00px;
}
figure{
    padding:8px;
    border:5px groove black;
    box-shadow:0px 0px 17px rgb(0, 0, 0);
    border-radius:10px;
    height:210px;
    
}